<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Tech Talk Dashboard</title>
</head>

<body>
   <h1> Welcome to your User Dashboard</h1>
  
  
  <div>
      <h2>User Information </h2>
      <p username: {{username}}></p>
      <P> Email: {{email}} </P>

  </div>




  <div>
      <h2>Your Posts</h2>
      {{#each BlogPosts}}
         <div>
            <h3>{{tiitle}}</h3>
            <p>{{content}}</p>
         </div>
      {{/each}}
   </div>

   <form action="/dashboard" method="POST">
      <h2>Create a New Blog Post:</h2>
      <label for="title">Title:</label>
      <input type="text" id="title" name="title">
      <label for="content">Content:</label>
      <textarea id="content" name="content"></textarea>
      <button type="submit">Create Post</button>
   </form>
</body>

</html>
