<div class="home-container" width="400px" height="400"></div>
<h2>
This is the home page
</h2>
{{#each blogPost}}
<div class="card"></div>
    <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.content}}</p>
        <h5{{this.createAt}}></h5>

       <div>
            <textarea name="comment" placeholder="Leave a comment"></textarea>
            <input type="hidden" name="postId" value="{{this._id}}">
            <button class="addComment" >Post Comment</button>
         </div>
    
    </div>
</div>
{{/each}}

<script src="/js/home.js"></script>