<div>
    <h2>Your Posts</h2>

    <form id="updateForm">

        <h2 data-blog_id="{{id}}" id="blogTitle">Edit Blog Post:</h2>
        <label for="title">Edit Title:</label>
        <input type="text" id="title" name="title" value="{{title}}">
        <label for="content">Edit Content:</label>
        <textarea id="content" name="content" row="10">{{content}}</textarea>
        <button type="submit">Update Post</button>
        <button>Delete</button>
    </form>

</div>

<script src="/js/updateBlog.js"></script>